@font-face {
   font-family: Poppins;
   src: url('./assets/font/Poppins.ttf');
}

body {
   margin: 0;
   font-family: Poppins;
   font-size: 16px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
